* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: #fef9f2;
}

.panel-container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: 90%;
  padding: 30px;
  margin: 30px;
  max-width: 400px;
}

.panel-container strong {
  line-height: 20px;
}

.rating-container {
  display: flex;
  margin: 20px 0;
}

.rating {
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  padding: 20px;
  margin: 10px 7px;
  flex: 1;
}
.rating.active,
.rating:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
small {
  font-weight: bold;
  color: rgb(119, 117, 119);
}
.rating.active small,
.rating:hover small {
  color: #000;
}
i {
  color: #ffdd03;
  font-size: 30px;
  margin-bottom: 10px;
}

.btn {
  background-color: rgb(117, 16, 84);
  border-radius: 4px;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.8;
}
.btn:focus {
  outline: none;
}
.btn:hover {
  opacity: 1;
}
.btn:active {
  transform: scale(0.98);
}

.fa-heart {
  color: red;
  font-size: 30px;
  margin-bottom: 10px;
}
p {
  text-align: center;
}
